h1 {
  text-align: center;
  font-size: 70px;
}
.button-container {
  text-align: center;
  
}
button a {
  text-decoration: none;
  
}
  
.switch {
  position: fixed;
  top: 20px;
  right: 20px;
  display: inline-block;
  width: 60px;
  height: 34px;
}
.switch input {
  display: none;
 
}
.slider {
  position: absolute;
  border-radius: 50px;
  inset: 0;
  background-color: grey;
}
.slider::before {
  position: absolute;
  width: 24px;
  height: 24px;
  top: 4px;
  left: 4px;
  content:"";
  background-color: white;
  border-radius: 50%;
  
}
.switch input:checked + .slider::before {
  transform: translateX(26px);
}
body.dark {
  background-color: black;
  color: white;
}
button {
  display: inline-block;
  width: 100px;
  height: 40px;
  border-radius: 40px;
  outline: none;

  
}
button:active {
  background-color: blue;
  color: white ;
}
.box {
    width: 150px;
    padding: 80px;
    border: 2px solid black;
    box-shadow: 10 5px 20px gray;
    cursor: not-allowed;
    overflow: auto;
}
