body {
  background-color: lightblue;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
h1 {
  color: blue;
  font-size: 40px;
  text-align: center;
  margin-top: 50px;
  text-decoration: underline;
}

p {
  margin-top: 80px;
  color: red;
  font-size: 18px;
  text-align: center;
  display: inline-block;
}
button {
    background-color: black;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    font-size: 20px;
    display: inline-block;

}
button:active {
  background-color: blue;
}


  
.button-container {
  text-align: center;
  margin-top: 50px;
  padding-top: 50px;
}
.name {
  border-top: none;
  border-right: none;
  border-radius: 50px;
  width: 200px;
  height: 30px;
  margin-left: 67px;
  font-weight: 900;
  background: transparent;
  outline: none;
  }